@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

.sponsers-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 80px 20px;
  color: #EEC403;
  font-family: "Cinzel Decorative", cursive;
}


.sponsers-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}


.sponsers-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: nowrap;
}

.sponsers-row.offset {
  margin: 30px 0;
}


.sponser-circle-frame {
  width: 120px;
  height: 120px;
  min-width: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/sponsers/abc1.png');
  background-size: cover;
  background-position: center;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sponser-circle-frame img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
  border-radius: 50%;
}

.sponser-circle-frame:hover {
  transform: scale(1.15);
  box-shadow: 0 0 22px #eec403b7;
  animation: rotateFrame 20s linear infinite;
}

.sponser-circle-frame:hover img {
  animation: counterRotate 20s linear infinite;
}

@keyframes rotateFrame {
  from {
    transform: rotate(0deg) scale(1.07);
  }
  to {
    transform: rotate(360deg) scale(1.07);
  }
}

@keyframes counterRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@media (max-width: 1174px) {
  .sponser-circle-frame {
    width: 80px;
    height: 90px;
    min-width: 90px;
  }
}

@media (max-width: 900px) {
  .sponser-circle-frame {
    width: 80px;
    height: 75px;
    min-width: 75px;
  }
}


@media (max-width: 768px) {
  .sponsers-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 per row */
    gap: 24px;
    width: 100%;
    justify-items: center;
  }

  .sponsers-row {
    display: contents;
  }

  .sponsers-row.offset {
    margin: 0;
  }

  .sponser-circle-frame {
    width: 90px;
    height: 90px;
    min-width: 90px;
  }
}




@media (max-width: 480px) {
  .sponsers-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
  }

  .sponser-circle-frame {
    width: 75px;
    height: 75px;
    min-width: 75px;
  }
}
